html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 100rem;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  transition: linear 0.2s;
}
.button--primary, .button--secondary:hover {
  background-color: #458ff6;
  color: white;
}
.button--primary:hover, .button--secondary {
  background-color: white;
  color: #458ff6;
  border: 1px solid #458ff6;
}

.global-heading {
  --heading-color: black;
  color: var(--heading-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  padding-bottom: 26px;
  margin-bottom: 30px;
  position: relative;
}
.global-heading:before {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: var(--heading-color);
  left: 0;
  bottom: 0;
}
.global-heading--center {
  text-align: center;
}
.global-heading--center::before {
  left: 50%;
  transform: translateX(-50%);
}

.global-text {
  font-size: 18px;
  line-height: 167%;
}

.global-dots {
  position: absolute;
  z-index: -1;
}

.center-inline {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1023px) {
  .global-heading {
    font-size: 30px;
  }

  .button {
    font-size: 16px;
  }
}
.header {
  margin-bottom: 80px;
  padding-bottom: 56px;
  padding-top: 10px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  transition: linear 0.2s;
}
@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 30px;
  }
}

body {
  font-size: 16px;
  line-height: 1;
  font-family: "Mulish", sans-serif;
  color: #7d7987;
  font-weight: 300;
}

.heading {
  color: black;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  font-size: 18px;
  transition: all 0.2s linear;
}
.menu-toggle {
  font-size: 20px;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: rgba(149, 167, 165, 0.2) 0px 8px 24px;
    width: 300px;
    flex-direction: column;
    align-items: stretch;
    transform: translateX(100%);
    transition: all 0.2s linear;
    z-index: 9;
  }
  .menu-link {
    display: block;
    padding: 15px 25px;
  }
  .menu-toggle {
    display: block;
  }
}

.menu-link:hover {
  color: black;
  font-weight: 700;
  transition: all 0.2s linear;
  background: #458ff6;
}

.is-show {
  transform: none;
}

.hero {
  margin-bottom: 190px;
}
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.hero-content {
  width: 100%;
  max-width: 445px;
}
.hero-heading {
  font-size: 48px;
  line-height: 117%;
  margin-bottom: 25px;
}
.hero-desc {
  margin-bottom: 50px;
  font-size: 21px;
  line-height: 125%;
}
@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 80px;
  }
  .hero-heading {
    font-size: 30px;
  }
  .hero-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 50px;
  }
  .hero-main {
    flex-direction: column-reverse;
  }
  .hero-content {
    margin-bottom: 30px;
  }
  .hero-content .button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.service {
  margin-bottom: 222px;
  background: url("../images/service-bg.png") no-repeat -100px center/auto;
}
.service-dots {
  right: 0;
  top: 50%;
  transform: translate(25%, -50%);
  z-index: -1;
}
.service-header {
  max-width: 952px;
  text-align: center;
  margin-bottom: 80px;
}
.service-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
  margin-bottom: 69px;
}
.service-item {
  background: white;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 54px 37px 47px;
}
.service-image {
  margin-bottom: 20px;
  height: 95px;
}
.service-title {
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-bottom: 25px;
}
.service-desc {
  line-height: 175%;
}
.service .button {
  text-align: center;
}
.service-more {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1023px) {
  .service {
    margin-bottom: 111px;
  }
  .service-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
  }
}
@media screen and (max-width: 767px) {
  .service-list {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .service-image {
    height: auto;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .service-desc, .service-title {
    text-align: center;
  }
}

.feature {
  margin-bottom: 251px;
}
.feature-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-item + .feature-item {
  margin-top: 230px;
}
.feature-content {
  max-width: 420px;
  width: 100%;
}
.feature-desc {
  margin-bottom: 37px;
}
.feature-image {
  transform: translateX(-56px);
}
.feature-item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature-item:nth-child(even) .feature-image {
  transform: translateX(20px);
}
.feature-item:nth-child(even) .feature-content {
  padding-left: 90px;
  max-width: 510px;
}
.feature-heading {
  max-width: 254px;
}
@media screen and (max-width: 1023px) {
  .feature {
    margin-bottom: 80px;
  }
  .feature-heading {
    font-size: 30px;
  }
  .feature-desc {
    font-size: 18px;
  }
  .feature-image {
    transform: none;
  }
  .feature-item {
    gap: 30px;
  }
  .feature-item + .feature-item {
    margin-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    margin-bottom: 50px;
  }
  .feature-item {
    flex-direction: column;
    gap: 30px;
  }
  .feature-image {
    transform: none;
  }
  .feature-content {
    margin-bottom: 30px;
  }
  .feature-content .button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .feature-item:nth-child(even) {
    flex-direction: column;
  }
  .feature-item:nth-child(even) .feature-image {
    transform: none;
  }
  .feature-item:nth-child(even) .feature-content {
    padding-left: 0;
  }
}

.review {
  margin-bottom: 200px;
  padding-bottom: 62px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .review {
    margin-bottom: 100px;
  }
}
.review-dot {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  transform: translateX(-50%);
}
.review-heading {
  --heading-color: white;
  margin-bottom: 66px;
}
@media screen and (max-width: 767px) {
  .review-heading {
    margin-bottom: 30px;
  }
}
.review-main {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 64px 118px 86px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .review-main {
    padding: 34px 35px;
  }
}
.review-list {
  display: flex;
}
.review-content {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  color: white;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .review-content {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
  }
}
.review-customer {
  display: flex;
  align-items: center;
  gap: 0 29px;
}
@media screen and (max-width: 767px) {
  .review-customer {
    flex-direction: column;
  }
}
.review-avatar {
  width: 141px;
  height: 141px;
  flex-shrink: 0;
}
.review-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 100rem;
}
@media screen and (max-width: 767px) {
  .review-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
}
.review-name {
  font-size: 22px;
  margin-bottom: 15px;
}
.review-job {
  font-size: 18px;
  font-weight: 400;
}
.review-desc {
  font-size: 19px;
  line-height: 158%;
  color: rgba(255, 255, 255, 0.9);
}
.review .slick-dots {
  position: absolute;
  bottom: -152px;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 18px;
}
.review .slick-dots .slick-active button {
  opacity: 1;
}
.review .slick-dots button {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #5b9bf3;
  font-size: 0;
  outline: none;
  border: 0;
  opacity: 0.3;
}
.review .slick-arrow {
  position: absolute;
  bottom: -150px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #458ff6;
  font-size: 20px;
  left: 50%;
}
.review .slick-arrow img {
  width: 100%;
}
.review .slick-next {
  transform: translate(120px, 0);
  left: auto;
  right: 50%;
  width: 30px;
}
.review .slick-prev {
  transform: translate(-120px, 0);
  width: 30px;
}

.footer {
  padding: 118px 0 113px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0;
    margin-bottom: -20px;
  }
}
.footer-main {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 34px;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer-main {
    grid-template-columns: 1fr 1fr;
  }
}
.footer-logo {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  gap: 0 23px;
  margin-bottom: 17px;
  align-items: center;
}
.footer-logo .logo-square {
  font-weight: bold;
  font-size: 26px;
  padding: 10px 18px;
  border-radius: 100rem;
  background-color: white;
  color: #458ff6;
}
.footer-desc {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 156%;
}
.footer-copyright {
  font-size: 16px;
}
.footer-heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-links {
  list-style: none;
}
.footer-link {
  color: white;
  line-height: 38px;
}
.footer-bgright {
  position: absolute;
  right: 0;
  top: -100%;
}
@media screen and (max-width: 767px) {
  .footer-bgright {
    display: none;
  }
}
.footer-bgleft {
  position: absolute;
  left: -100%;
  bottom: 0;
  display: none;
}
@media screen and (max-width: 767px) {
  .footer-bgleft {
    display: none;
  }
}

.article {
  margin-bottom: 200px;
}
.article-background {
  position: absolute;
  z-index: -1;
  right: 0;
}
.article-heading {
  margin-bottom: 80px;
}
.article-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 34px;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .article-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 30px;
  }
}
.article-item {
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
}
.article-image {
  height: 240px;
  display: block;
}
.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-content {
  padding: 24px 50px 0 35px;
}
.article-title {
  font-size: 21px;
  line-height: 152%;
  margin-bottom: 12px;
  color: black;
}
.article-desc {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 175%;
}
.article-link {
  font-size: 17px;
  font-weight: 600;
  color: #458ff6;
  margin-top: auto;
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
@media screen and (max-width: 1023px) {
  .article {
    margin-bottom: 100px;
  }
  .article-content {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
